---
interface Props {
    title: string,
    description: string,
    img: string,
    link_view: string,
    link_repo: string,
    color: string;
}

const { title, description, img, link_view, link_repo, color} = Astro.props;
const img_url = `url(${img})`;
---
<section>
    <h3>{title}</h3>
    <p>{description}</p>
    <div class="live-view">
        <a href={link_repo} target="_blank"> 
            <div class="circle">
                <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#201F17">
                    <path d="M13.5 6L10 18.5" stroke="#201F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6.5 8.5L3 12L6.5 15.5" stroke="#201F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M17.5 8.5L21 12L17.5 15.5" stroke="#201F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
        </a>
        
        <a href={link_view} target="_blank">
            <div class="circle">
                <svg width="20px" height="20px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#201F17">
                    <path d="M6.00005 19L19 5.99996M19 5.99996V18.48M19 5.99996H6.52005" stroke="#201F17" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
        </a>
    </div>
</section>

<style define:vars={{ img: img_url, color: color}}>

    

    section {
        position: relative;
        background: var(--color);
        background-image: var(--img);
        background-size: 200%;
        background-position: 50% 20%;
        background-repeat: no-repeat;
        color: white;
        padding: 30px 0px 0px 40px;
        height: 400px;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
    }

    section:hover {
        background-size: 205%;
        background-position: 50% 22%;
    }

    h3 {
        font-size: 18px;
        padding: 0px;
        margin: 0px;
        margin-bottom: 12px;
        font-weight: 500;
    }

    p {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        font-weight: 200;
        width: 80%;
    }

    .live-view {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 30px 26px 0;
        display: flex;
        gap: 10px;
    }

    a {
        cursor: pointer;
    }

    .circle {
        height: 50px;
        width: 50px;
        background: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        transform-origin: 50% 50%;
    }

    .circle:hover {
        transform: scale(1.1);
    }

</style>